.cf {
  content: "";
  display: block;
  clear: both;
}
.auto {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@font-face {
  font-family: Constantia;
  src: url('fonts/Constantia.ttf');
}
@font-face {
  font-family: Vanib;
  src: url('fonts/Vanib.ttf');
}
.col-md-1 {
  background-color: blue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  behavior: url(ie-css3.htc);
  padding: 0;
  text-align: center;
}
